/* sets default parameters for website, fixes margin */
*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top flex, space-between for proper positioning*/
.top{
  display:flex;
  font-size: 200%;
  justify-content: space-between;
}

/* proper adjust of margins for logo*/
.top img{
  margin-top: 8%;
  margin-left: 4%;
}

/* same flexbox as .top, sets direction of content to row */
.quick_nav{
  display: flex;
  flex-direction:row;
  padding:2%;
}


.quick_nav a{
  display: flex;
  text-decoration: underline;
  color:black;
  margin-right:50px;
}
/* End of header style*/

/* First section in webpage. CSS styles from week4 split*/
.about_me{
  background:#5D6D7E;
  display:flex;
  width: 100%;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.split{
  padding: 2%;
  align-items: center;
}

.split img{
  width: 112%;
  height: 100%;
}

/* End of introduction section */

/* Artwork section, used CSS and HTML Tutorials for guidance */

.art{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: black;
}

.art_header{
  background-color:black;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* 25% for four "Columns" */
.art_column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.art_column img{
  margin-bottom: 8px;
  vertical-align: middle;
  width: 100%;
}

/* End of art section */

/* Project section, borrowed art flexbox */

.project{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color:#C39BD3;
}

.project_header{
  background-color: purple;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.project_column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  color:white;
  text-align: center;
}

/* Extra top space for text */
.project_column h2{
  margin-top:2%;
}

.project_column img{
  margin-bottom: 8px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* End of project section */

/* Contact Section, used what i learned from using flexbox */

.contact_header{
  background-color: white;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.contact{
  display:flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#5D6D7E;
  color:white;
}

.input_name{
  width: 500px;
  height: 50px;
  font-size:30px;
  text-align:center;
  box-sizing: border-box;
}

.input_mail{
  width: 500px;
  height: 50px;
  font-size:30px;
  text-align:center;
  box-sizing: border-box;
}

.input_msg{
  width: 500px;
  height: 500px;
  font-size:30px;
  text-align:center;
  box-sizing: border-box;
}

/* End of Contact Section */

/* Start of media css style */
/* Most are just codes that are half of the original */

@media screen and (max-width: 800px) {
  /* 50% for two "Columns" */
  .art_column {
    flex: 50%;
    max-width: 50%;
  }

  .project_column{
    flex: 50%;
    max-width: 50%;
  }
  
}

@media screen and (max-width: 656px)
{
  /* Start of header media css */

  .top{
  font-size: 100%;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  .quick_nav{
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-size: 150%;
  }

  .quick_nav a{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* End of header media css */

  /* Introduction section media css */

  .about_me{
  justify-content: center;
  display:flex;
  width: 100%;
  flex-direction:column;
  align-items: center;
  text-align: center;
  }
 .split{
  padding: 1%;
  align-items: center;
  }

 .split img{
  width: 50%;
  height: 50%;
  }

  /* End of introduction section media css */

  /* Art section media css */

 .art_header{
  font-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

    /* 100% for one "Column" */
 .art_column{
  flex: 100%;
  max-width: 100%;
  }

  /* End of art section media css */

  /* Project section media css */

 .project_header{
  background-color: purple;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  }

  .project_column{
  flex: 100%;
  max-width: 100%;
  font-size: 70%;
  }

  /* End of project section media css */

  /* Contact section media css */

  .contact_header{
    background-color: white;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
  }

  .input_name{
    width: 400px;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_mail{
    width: 400px;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_msg{
    width: 400px;
    height: 500px;
    font-size:20px;
    text-align:center;
  }

  /* End of contact section media css */

}

/* Fixed input and textbox size at small width */
@media screen and (max-width: 400px)
{
  .input_name{
    width: auto;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_mail{
    width: auto;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_msg{
    width: auto;
    height: 500px;
    font-size:20px;
    text-align:center;
  }
}

@media screen and (max-width: 200px)
{
  .input_name{
    width: 100px;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_mail{
    width: 100px;
    height: 35px;
    font-size:20px;
    text-align:center;
  }
  
  .input_msg{
    width: 100px;
    height: 500px;
    font-size:20px;
    text-align:center;
  }
}

/* End of fix for lower width */


/* End of media css */

/* button styling */

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}

/* End of button styling and css codes */